[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "QGameTheory"]
	path = QGameTheory
	url = https://github.com/indrag49/qgametheory
